ion-content {
    .background-pic{
        height: 100vh;
        width: 100%;
        background-color: #fff;
        background-position:100%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        max-height:1000px;
    }
         h1{
             font-size: 3rem;
             font-weight: 600;
             color: rgba(24, 22, 22, 0.952);
            margin-top: -660px;
             margin-right: 90px;
             
         }
         .avatar{
            width: 50px;
            height: 60px;
            background-color: black;
            border-radius: 60%;
            display: flex;
            margin-top: -110px;
            margin-left:300px ;
            ion-img{
                width: 100%;
                height: 100%;
            }
         }


         .categories{
             display: grid;
             grid-template-columns: repeat(4,1fr);
             grid-gap: 1rem;
             margin-top: 5px;
         }
         
         
         .list-header{
             font-weight: 700;
             color:rgb(13, 13, 14);
             font-size: 1.8rem;
         }
         .food-list{
             display:grid;
             grid-template-columns: 1fr 1fr;
             grid-gap: 1rem;
         }
        
    }
 

    
